{% load vpn_fourfridays_tags static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat|Rokkitt:300" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/vpn_fourfridays.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header role="banner">
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>

        <main role="main">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="row">
                <div class="col-12 col-md-6">
                    <ul class="footerLeft m-3">
                        <li><a href="/frequently-asked-questions/">FAQ</a></li>
                        <li><a href="/privacy/">Privacy</a></li>
                        <li><a href="/terms/">Terms</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="footerRight pr-4 m-3">
                        <li class="copyright">&copy; Copyright {% now "Y" %} fourfridays</li>
                    </ul>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/vpn_fourfridays.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117118331-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-117118331-1');
        </script>
    </body>
</html>
