@import '../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: #212228;
    font-family: 'Rokkitt', serif;
    font-size: 1.3rem;
    color: #ddd;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    color: #eee;
    text-transform: uppercase;
}

.navbar {
    padding: 0;
    z-index: 99;
    a {   
        color: #fff !important;
        &.navbar-brand {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            background-color: #a43f33;
            color: #fff;
            letter-spacing: 0.062rem;
            text-shadow: none;
            &:hover {
                background-color: #a43f33;
                color: #fff;
            }
        }
    }
}

.brand-color {
    color: #212228;
}


main {
    position: relative;
    bottom: 54px;
    z-index: 1;
}


/* Hero Images */
.block-hero_image figure.overlay {
    position: relative; 
    width: 100%; /* for IE 6 */
    figcaption {
        max-width: 45%;
        background-color: rgba(164, 63, 51, 0.82);
        position: absolute;
        top: 65%;
        left: 10%;  
        transform: translate(-10%, -65%);
        h2 {
            color: #f0f0f0;
            font-size: 1.4em;
            margin-bottom: 0;
        }
        p.fine-print {
            color: #d2d2d2;
            line-height: 1em;
            margin-top: 4px;
        }
    }
    .photo-credit {
        position: absolute; /* absolute position (so we can position it where we want)*/
        bottom: 0; /* position will be on bottom */
        width: auto;
        right: 0;
        padding: 4px;
        background-color: #000;
        color: #fff;
        opacity: 0.5; /* transparency */
        filter: alpha(opacity=50); /* IE transparency */
    }
}


/* Blocks */
article {
    &.baltic-sea{
        background-color: rgba(61, 61, 61,1.0);
        padding: 18px 0;
    }
}

.block-single_column {
    margin: 1.5rem 0;
}

.block-four_columns {
    margin: 1.5rem 0;
    .rich-text {
        p {
            font-size: 0.9em;
        }
    }
    .icon {
        position: relative;
        left: -10px;
    }
}


/* ==========================================================================
    FOOTER
   ========================================================================== */
footer {
    padding: 12px 0 12px 0;
    background-color: #403F3C;
    display: block;
    font-size: 0.87em;
    overflow: hidden;
    ul {
        list-style: none;
        li {
            i {
                color: #fff;
            }
            a {
                color: #2790b0;
                &:hover {
                    color: #fff;
                }
            }
            &.copyright {
                color: #b94a48;
            }
        }
        &.footerRight {
            text-align: right;
        }
        &.footerLeft li {
            float: left;
            margin-right: 12px;
            i {
                font-size: 22px;
            }
            a {
                &:hover {
                    i {
                        text-decoration: none;
                        color: #2790B0;
                    }
                }
            }
        }
    }
}


@media (max-width: 767px) {
/* ==========================================================================
    FOOTER
   ========================================================================== */
    footer {
        ul {
            &.footerLeft {
                text-align: center;
                padding: 0;
                li {
                    float: none;
                    display: inline-block;
                }
            }
            &.footerRight {
                text-align: center;
                padding: 0;
            }
        }
    }
}


/* Landscape phones and down */
@media (max-width: 525px) {
    h1 {
        font-size: 2em;
    }
    .table {
        font-size: 0.82em;
    }
/* ==========================================================================
    HERO IMAGES
   ========================================================================== */
    .block-hero_image figure.overlay {
        figcaption {
            max-width: 55%;
            h2 {
                font-size: 0.5em;
            }
        }
        .photo-credit {
            font-size: 65%;
            padding: 3px;
        }
    }
}